.env.global

git_access_token

authentik/.env
authentik/.env.local

landing-page/.env
landing-page/.env.local

jellyfin/.env
jellyfin/.env.local

nginx-proxy-manager/.env
nginx-proxy-manager/.env.local

qbittorrent/.env
qbittorrent/.env.local

trilium/.env
trilium/.env.local
