.env.global

git_access_token

authentik/.env
authentik/.env.local

nginx-static/.env
nginx-static/.env.local

jellyfin/.env
jellyfin/.env.local

npm/.env
npm/.env.local

qbt/.env
qbt/.env.local

trilium/.env
trilium/.env.local
