USER_ID=1234
GROUP_ID=1234

NGINX_DATA=/path/to/data

NGINX_HOST_HTTP_PORT=1234
NGINX_GUEST_HTTP_PORT=1234

NGINX_HOST_HTTPS_PORT=1234
NGINX_GUEST_HTTPS_PORT=1234

NGINX_HOST_ADMIN_PORT=1234
NGINX_GUEST_ADMIN_PORT=1234
